.card-rank {
  font-weight: bold;
  font-size:large;
}

td {
  width: 4em;
  text-align: center;
  border: 1px solid #ddd;
}
td:nth-child(2) {
  font-weight: bold;
}
th:nth-child(1) {
  text-align: right;
}
tbody th {
  font-weight: normal;
  font-style: italic;
}
table caption {
  padding-top: 1em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #505;
  color: white;
  text-align: center;
}
.footer a {
  color: white;
}